.navbar-brand {
padding:0;
}

.section-header{
  h2{
    padding-top: 50px;
    @extend .font-7;
    text-transform: uppercase;
    padding-bottom: 15px;
  }

}
.no-background{
  .home-header-wrap{
    .header-content-wrap{
      /*padding: 130px 0 10px;*/
      background: #fff;
      .container{
        /*height: 70vh;*/
        height: 100vh;
        width: 100%;
        margin:0;
        padding-top: 140px;
        padding-left: 90px;
        padding-right: 90px;
        padding-bottom: 90px;
        .gallery-wrapper{
          height:100%;
          .gallery{
            height: 100%;
            .slider-image {
              width:100%;
              height:100%;
              background-size: cover;
              background-position: center center;
              background-repeat: no-repeat;
            }
          }
        }
      }
    }
    div.intro-text {
      display: table;
      width: 100%;
      position: relative;
        div.intro-wrap{
          display: table-cell;
          position: absolute;
          width: 100%;
          margin-top: -125px;
          span{
            @extend .font-6;
            background-color: rgba(255, 255, 255, 0.8);
            padding: 10px 15px;
            color:$font-dark;
            text-transform: none;
            font-weight: bold;
        }

        }
      }
  }
}
#main-nav{
  background-color:#272425;
}

#focus{
  margin-top:-8px;
  .container{
    /*width:75%;*/
  }
  .next-event-content, .latest-post-content, .details-text{
    text-align: left;
  }
  .latest-post-title, .next-event-title, .map-details-title{
    text-align: left;
  }
  svg.widget-icon path{
    fill:$font-dark2;
  }
  .col-sm-3.focus-box.next-event, .col-sm-3.focus-box.latest-post, .col-sm-3.focus-box.map-details{
    /*@include transition(all 0.5s ease-in);*/
    &:hover *{
      @include transition(all 0.2s ease-in);
      color:$font-white;
      fill:$font-white;
    }
  }
  p,span{
    @extend .font-1;
    color:$font-dark2;
  }
  h3{
    a{
      @extend .font-10;
      font-weight: bold;
      color:$font-dark2;
    }
  }

  .col-lg-3.col-sm-3{
    /*height:300px;*/
    height:275px;
    overflow: hidden;

    &.next-event{
      background-color: #e5c02f;
    }
    &.latest-post{
      background-color: #B9B4B0;
    }
    &.events-calendar{
      background-color: #3f4245;
    }
    &.map-details{
      background: url('../images/map-widget-bg.jpg');
      background-size: cover;
      .map-icon{
        width: 100px;
        height: 100px;
      }
    }

  }
  .widget-events-calendar{
    caption{
      font-size: 18px;
      line-height: 21.6px;
      font-weight: bold;
      color:#e5c02f;
      text-align: center;
      text-transform: uppercase;
      padding-top: 10px;
    }
    th{
      color:#fff;
      font-weight: bold;
      border:0px !important;
      padding: 0;
      text-align: center;
    }
    td{
      border:0px !important;
      color:#fff;
      padding: 0;
      text-align: center;
      a{
        color:#5695C6;
      }
    }
  }

  .map-details-wrap p{
    padding-top: 8px;
  }

}



/*NEXT EVENT*/
.col-lg-3.col-sm-3 {

    .next-event-image-wrap{
      position:relative;
      img{
        width: 100px;
        height: 100px;
      }

        span.event-date{
          width:60px;
          position: absolute;
          top: 42%;
          left: 38%;
          font-size: 14px !important;
          line-height: 17px !important;
          font-weight: bold;
          text-transform: uppercase;
        }
    }
}

/*LATEST POST WIDGET*/
.col-lg-3.col-sm-3.latest-post {

    .latest-post-image-wrap img {
      width: 100px;
      height: 100px;
    }
}


/* Focus SubSection */
#focus-join-us{

    .row{
    background-image: url('../images/home-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    .colored-mask{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $font-blue;
      opacity: 0.5;
    }
    .container{
    .col-md-6.focus-join-us-content{
      padding-bottom: 25px;
      padding-top: 25px;
      padding-left:0;
        h2.light-text{
          @extend .font-7;
          color:$font-white;
          text-align: left;
          }
        div.section-legend{
          text-align: left;
          width:70%;
        }
        span.light-text{
          color: $font-white;
          @extend .font-10;

        }
      }
    }
    .focus-join-us-button{
      padding:0px;
      .buttons{
        margin:0;
        padding-top: 30px;
        a.join-us-btn{
          @extend .font-4;
          display: inline-block !important;
          text-align: center;
          text-transform: uppercase;
          padding: 10px 0px 10px 0px;
          border-radius: 0px;
          border: none;
          width:100%;
          color: $font-white;
          background-color: $bg-yellow;
          font-weight: bold;
          @include transition(all 0.2s ease-in);
          &:hover{
            background-color: $bg-dark-gray;
          }
        }
      }
    }

  }
  }
  /* About US*/
  #aboutus{
    background: $bg-dark-gray;
    .section-header{
      margin-top: 30px;
    }
    .big-intro{
      @extend .font-9;
    }
    .openlab_about_us_center{
      @extend .font-3;
      color:$font-white;
      padding-top: 7px;
    }
    .openlab-rtl-skills{
      padding-top: 15px;
      .about-img-right{
        max-height: 250px;
      }
    }
  }



  #team{
    background-color: $bg-extra-light-gray;
    padding-bottom: 50px;

    .section-header{
      padding-bottom: 35px;
      h2{
        color:$font-dark;
      }
      .section-legend{
        @extend .font-4;
        color:$font-dark2;
        font-weight: bold;
        text-transform: uppercase;
      }
    }

    .team-member .profile-pic {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: auto;
    overflow: hidden;
    margin-bottom: 0;
    }
    .member-title{
      @extend .font-10;
      color:$font-dark;
      font-weight: bold;
      text-transform: none;
    }
    .position{
      color:$font-dark;
      @extend .font-1;
      text-transform: none;
      letter-spacing: 0.1em;
      padding-top: 15px;
    }
    .team-member .social-icons ul {
    	margin: 16px 0 20px 0;
    }
    .subsection-legend{
      h2{
        @extend .font-4;
        color:$font-dark2;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 20px;
        margin-top: 20px;
      }
    }
    .subsection-content{
      @extend .font-10;
    }
    }
/* Contact Us Section */
  .contact-us {
    background-image: url('../images/home-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position:relative;
    .colored-mask{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ffffff;
      opacity: 0.5;
    }
    .section-header{
      h2{
        color:$font-dark;
        @extend .font-7;
      }
    }
    .container{
      padding-left: 70px;
      padding-right: 70px;
      .pirate_forms_wrap{
        button#pirate-forms-contact-submit {
          width:100%;
          margin:0;
          height: 50px;
          background: $font-blue;
          @extend .font-4;
          color:$font-white;
          font-weight:bold;
          @include transition(all 0.2s ease-in);
          &:hover{
            background: $bg-dark-gray;
          }
        }

        label{
          display:none;
          visibility: hidden;
        }
        span.parate-forms-custom-label{
          text-align: left;
          color:$font-dark2;
          text-transform: uppercase;
          float: left;
          @extend .font-1;
          letter-spacing: 0.1em;
          padding-bottom: 10px;
        }
      }
    }
}

span.widget-social{
  margin-right:3px;
  svg{
    width:20px;
    height:20px;
    polyline{
      fill:#3F4245;
    }
    path{
      fill:#272425;
    }
  }

}
