.font-1{
  font-family: 'Verdana';
  font-size:11px;
  line-height:13.2px;
}
.font-2{
  font-family: 'Verdana';
  font-size:14px;
  line-height:16.8px;
  letter-spacing: 0.05em;
}
.font-10{
  font-family: 'Verdana';
  font-size:14px;
  line-height:16.8px;
  letter-spacing: 0.1em;
}
.font-3{
  font-family: 'Verdana';
  font-size:14px;
  line-height:20px;
  letter-spacing: 0.1em;
}
.font-4{
  font-family: 'Verdana';
  font-size:16px;
  line-height:19.2px;
  letter-spacing: 0.1em;
}
.font-5{
  font-family: 'Verdana';
  font-size:18px;
  line-height:21.6px;
}
.font-6{
  font-family: 'Verdana';
  font-size:20px;
  line-height:24px;
  letter-spacing: 0.1em;
}
.font-7{
  font-family: 'Verdana';
  font-size:24px;
  line-height:28.8px;
  letter-spacing: 0.1em;
}
.font-8{
  font-family: 'Verdana';
  font-size:20px;
  line-height:24px;
  letter-spacing: 0.1em;
}
.font-9{
  font-family: 'Verdana';
  font-size:30px;
  line-height:32px;
  letter-spacing: 0.1em;
}
