/* Font colors */
$font-blue:         #5695c6;
$font-yellow:       #e5c02f;
$font-dark:         #272425;
$font-dark2:        #3f4245;
$font-white:        #ffffff;

/* Bg colors */
$bg-extra-light-gray: #d7d9d8;
$bg-light-gray:       #b9b4b0;
$bg-dark-gray:        #3f4245;
$bg-black:            #272425;
$bg-yellow:           #e5c02f;
